##  Lambdas with Higher Order Functions (filter(), map(), apply())

Instructions: Work through the following questions. You can use the slides and deepnote examples as a guide. 
Hatzlacha! When you are finished, please push your work to git and add ruchifeldman and estherdonnenbaum as a  collaborator.

In [37]:
#1 Write code to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
filter(lambda x: x%2 == 0, my_list)

In [38]:
#2 write code to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]
map(lambda x: x*2, my_list)

In [39]:
#3 write code to select numbers that are divisible by 3 from the list

my_list = [3, 42, 18, 26, 11,27, 14, 5,36]
filter(lambda a: a%3 == 0, my_list)

In [40]:
#4 write code to count the length of the numbers in a list. Return a list of the lengths.

my_list = [123, 56, 2, 8695, 26]
list(map(lambda x: len(str(x)), my_list))

[3, 2, 1, 4, 2]

In [41]:
#5 write code to convert all words in the list to upper case

my_list = ['apple', 'orange', 'banana', 'pear', 'mango', 'kiwi']
list(map(lambda string: string.upper(), my_list))

['APPLE', 'ORANGE', 'BANANA', 'PEAR', 'MANGO', 'KIWI']

In [9]:
#6 Write code to filter words that contain the letter 'r' from the list, any case
my_list = ['pear', 'Ruchi', 'belt', 'chair', 'notes', 'date']

list(filter(lambda string: 'R' in string or 'r' in string, my_list))

['pear', 'Ruchi', 'chair']

In [2]:
#run this cell and use this df to answer the following questions
import pandas as pd

df = pd.DataFrame(
    {"title": ["Nor The Moon", "Why it Didn't Happen", "Expelled", "Not As It Seemed", "Random DIY Crafts", "Senora"],
     "Author": ['C. Green', 'Simon James', 'W. Wright', 'Hellen Kay', 'R. Farno', 'Jacob Blau'],
     "Pages": [450, 120, 682, 210, 75, 302],
     "Publisher": ['PG', 'Feldheim', 'Menucha', 'Ladybird', 'DSB', 'PG']

    }
)

In [10]:
#7 Write code to multiply the number of pages by two
df['Pages'].apply(lambda page: page*2)

0     900
1     240
2    1364
3     420
4     150
5     604
Name: Pages, dtype: int64

In [11]:
#8 Write code change authors names to lowercase
df['Author'].apply(lambda name: name.lower())

0       c. green
1    simon james
2      w. wright
3     hellen kay
4       r. farno
5     jacob blau
Name: Author, dtype: object

In [33]:
# CHALLENGE
#Write code to select only the rows where the 'title' is more that four words. Assign those rows to a new dataframe
new_df = df[df['title'].apply(lambda title: len(title.split(' ')) == 4)]
new_df

                  title       Author  Pages Publisher
1  Why it Didn't Happen  Simon James    120  Feldheim
3      Not As It Seemed   Hellen Kay    210  Ladybird