### Best Tags

Stack Exchange welcomes anything related to data science and analysis. The home page subdivides into tags, users and companies. Tags are keywords that when put in the question help other users know which topic your question refers to and helps them find questions related to certain topics. Users is self understood and companies are producing and/or manufacturing in the world of technology. To help choose a topic we can check which topic/s are most popular in the questions. Each post has number of votes, whether or not the poster accepted and answer, how many users viewed the post, any tags in the post are shown below the post and users can check other questions with that tag. It also has the users name and the time of posting.
The Post and Tags tables might be able to help us. Let's look into it further.

Perusing the table names, a few stand out as relevant for our goal:

* Posts
* PostTags
* Tags
* TagSynonyms

We ran some queries to get a feel of the tables;
* Queries to see the column names
* Found the highest scores
* checked types
* and more...

The query to get all posts from year 2019:
-    SELECT Id,
-       PostTypeId,
-       CreationDate,
-       Score,
-      ViewCount, 
-        Tags, 
-       AnswerCount,
-       FavoriteCount 
-   FROM posts
-   WHERE YEAR(CreationDate) = 2019 
-       and PostTypeId = 1;

In [2]:
import pandas as pd 
questions = pd.read_csv("QueryResults.csv", parse_dates=["CreationDate"])

ModuleNotFoundError: No module named 'pandas'

In [ ]:
questions.head()

,Id,CreationDate,Score,ViewCount,Tags,AnswerCount,FavoriteCount
0,44419,2019-01-23 09:21:13,1,21,<machine-learning><data-mining>,0,NaN
1,44420,2019-01-23 09:34:01,0,25,<machine-learning><regression><linear-regressi...,0,NaN
2,44423,2019-01-23 09:58:41,2,1651,<python><time-series><forecast><forecasting>,0,NaN
3,44427,2019-01-23 10:57:09,0,55,<machine-learning><scikit-learn><pca>,1,NaN
4,44428,2019-01-23 11:02:15,0,19,<dataset><bigdata><data><speech-to-text>,0,NaN

In [ ]:
questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8839 entries, 0 to 8838
Data columns (total 7 columns):
Id               8839 non-null int64
CreationDate     8839 non-null datetime64[ns]
Score            8839 non-null int64
ViewCount        8839 non-null int64
Tags             8839 non-null object
AnswerCount      8839 non-null int64
FavoriteCount    1407 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 483.5+ KB

In [ ]:
questions.describe()

                 Id        Score     ViewCount  AnswerCount  FavoriteCount
count   8839.000000  8839.000000   8839.000000  8839.000000    1407.000000
mean   54724.172870     0.870687    171.548026     0.787985       1.184790
std     6507.618509     1.410255    772.813626     0.851146       0.982766
min    43363.000000    -2.000000      2.000000     0.000000       0.000000
25%    48917.500000     0.000000     22.000000     0.000000       1.000000
50%    54833.000000     1.000000     40.000000     1.000000       1.000000
75%    60674.500000     1.000000     98.000000     1.000000       1.000000
max    65675.000000    45.000000  33203.000000     9.000000      16.000000

We see that only FavoriteCount has missing values. We can replace the missing values with zero.

The types seem right for every column.

We can split and clean the tags column and make it into a list.

In [ ]:
questions['FavoriteCount'].fillna(0, inplace = True)

In [ ]:
questions['FavoriteCount'].isnull().sum()

0