In [13]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func

In [14]:
spark = SparkSession.builder.appName('PopularMovies').getOrCreate()

In [20]:
dataframe = spark.read.option('header', True).csv('ml-latest-small/movies.csv')

In [23]:
topMovieIds = dataframe.groupBy('movieID').count().orderBy(func.desc('count'))
topMovieIds.show(8)

+-------+-----+
|movieID|count|
+-------+-----+
|    296|    1|
|    467|    1|
|    691|    1|
|    829|    1|
|   1090|    1|
|   1572|    1|
|   2069|    1|
|   2088|    1|
+-------+-----+
only showing top 8 rows

In [28]:
topMovieIds = dataframe.groupBy('movieID')\
    .count().withColumnRenamed('count', 'numOfRatings')\
    .orderBy(func.desc('count'))
topMovieIds.show(10)

+-------+------------+
|movieID|numOfRatings|
+-------+------------+
|    296|           1|
|    467|           1|
|    691|           1|
|    829|           1|
|   1090|           1|
|   1572|           1|
|   2069|           1|
|   2088|           1|
|   2136|           1|
|   2162|           1|
+-------+------------+
only showing top 10 rows